Source: metasploit-framework
Section: net
Priority: extra
Maintainer: Brandon Turner <bt@metasploit.com>
Build-Depends: bundler (>= 1.1.0), debhelper (>= 8.0.0), git, ruby, ruby-dev, libpcap-dev, libpq-dev, libsqlite3-dev, libxml2-dev, libxslt-dev
Standards-Version: 3.9.4
Homepage: http://www.metasploit.com/

Package: metasploit-framework
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby, bison, bundler (>= 1.1.0), curl, git, nmap, wget
Recommends: postgresql
Suggests: java7-runtime-headless
Description: Framework for exploit development and vulnerability research
 The Metasploit Framework is an open source platform that supports
 vulnerability research, exploit development, and the creation of custom
 security tools.
